<blockquote class="recuadrado">
    <p>
        <a href="{{ path( 'establecimiento_ficha', {'slug': establecimiento.slug } ) }}">
            {{establecimiento.nombre ~ ' - CUE: ' ~ establecimiento.cue}}
        </a>
    </p>
</blockquote>