easy_admin:
    site_name: FD

    design:
        menu:
        - { route: portada, label: 'Volver al sitio', icon: 'home'}
        - { entity: Area, label: Áreas}
        - { entity: Aviso, label: Avisos}
        - { entity: Comuna, label: Comunas}
        - { entity: CarreraFD, label: Carreras de FD}
        - { entity: Domicilio, label: Domicilios, icon: map-marker}
        - { entity: DomicilioLocalizacion, label: Domicilios de las localizaciones de las unidades educativas, icon: map-marker}
        - { entity: DistritoEscolar, label: Distrito Escolar, icon: map-marker}
        - { entity: Edificio, label: Edificios, icon: map-marker}
        - { entity: Establecimiento, label: Establecimiento, icon: comments}
        - { entity: EstablecimientoEdificio, label: Edificios el establecimiento , icon: comments}
        - { entity: Localizacion, label: Localizaciones de las Unidades Educativas , icon: comments}
        - { entity: Nivel, label: Niveles, icon: comments}
        - { entity: TipoEstablecimiento, label: Tipo de establecimiento}
        - { entity: TipoFormacion, label: Tipo de Formación}
        - { entity: TipoOfertaEducativa, label: Tipo de oferta educativa}
        - { entity: UnidadEducativa, label: Unidades Educativas}
        - { entity: Vecino, label: Vecinos}

    formats:
        date: 'd/m/Y'
    entities:
#        # List the entity class name you want to manage
        Area:
            class: App\Entity\Area
        Aviso:
            class: App\Entity\Aviso
            list:
                fields:
                    - id
                    - descripcion
                    - { property: fecha , type: datetime }
                    - activo
                sort: ['fecha', 'DESC']
                filters: ['activo']
        CarreraFD:
            class: App\Entity\CarreraFD
        Comuna:
            class: App\Entity\Comuna
        DistritoEscolar:
            class: App\Entity\DistritoEscolar
        Domicilio:
            class: App\Entity\Domicilio
        DomicilioLocalizacion:
            class: App\Entity\DomicilioLocalizacion
        Edificio:
            class: App\Entity\Edificio
        Establecimiento:
            class: App\Entity\Establecimiento
            list:
                fields:
                    - nombre
                    - apodo
                    - cue
                    - creado
                    - actualizado
                sort: ['orden', 'ASC']
                filters: ['apodo']
        EstablecimientoEdificio:
            class: App\Entity\EstablecimientoEdificio
        Localizacion:
            class: App\Entity\Localizacion
        Nivel:
            class: App\Entity\Nivel
        TipoEstablecimiento:
            class: App\Entity\TipoEstablecimiento
        TipoFormacion:
            class: App\Entity\TipoFormacion
        TipoOfertaEducativa:
            class: App\Entity\TipoOfertaEducativa
        UnidadEducativa:
            class: App\Entity\UnidadEducativa
        Vecino:
            class: App\Entity\Vecino
                  
#        User:
#            class: App\Entity\User
#            list:
#                fields:
#                    - 'email'
#                    - 'roles'
#                    - 'password'
#                sort: ['email', 'ASC']
#                filters: ['email']
