/*

#365F8D panel azul oscuro
#156AA6 panel azul intermedio
#309C40 boton verde
#5AAF67 verde claro
#EEEEEE gris
#DCE3E6 fondo gris un poco más oscuro
#DAE4F0 celeste 
#0055A3 azul de las letras
#F61831 rojo

*/
.celdax{
    /* prueba de celda de grid */
    border: solid 1px;
    background-color: #DCE3E6;
    padding: 1rem;
    margin: 1rem;
}
.centrado{
    text-align: center;
}
.fondo_rojo{
    background-color: #FF1717;
}
.fondo_azul{
    background-color: #08C;
}
.fondo_verde{
    background-color: darkseagreen;
}
.fondo_gris{
    background-color: #cbd3da;
}

.resaltado{
    font-style: italic;
    font-weight: bolder;
}
.grande{
    font-size: 2rem;
}
.chica{
    font-size: .75rem;
}
.muychica{
    font-size: .5rem;
}
.mediana{
    font-size: 1.5rem;
}
.italico{
    font-style: italic;
}
.recuadrado{
    border: solid 1px;
}
/* posicionamisnteo */
.float_derecha {
    float: right;
    margin-left: 8px;
}
.float_izquierda {
    float: left;
    margin-right: 8px;
}	
.limpiar_float {
    clear:both;
}
