/*

#365F8D panel azul oscuro
#156AA6 panel azul intermedio
#309C40 boton verde
#5AAF67 verde claro
#EEEEEE gris
#DCE3E6 fondo gris un poco más oscuro
#DAE4F0 celeste 
#0055A3 azul de las letras
#F61831 rojo

*/

.grilla {
    background-color: #156AA6; 
    width: 100%;
}
.grilla_fit {
    background-color: #ffc;
    border: 1px solid #000;
    margin: 3px;
}
.grilla th{
    font-style: italic;
    /*font-weight: bold;*/
    color: blue;
    padding-left: 8px;
    padding-right: 8px;
    /*empty-cells: show;*/
}
.grilla td{
    background-color: #ffc; /* #ececd0; */
    padding-left: 6px;
    padding-right: 6px;
    font-weight: normal;

    /*border: 1px solid #000;*/
    /*border-spacing: 1px;*/
    /*border-width: 1px;*/
    /*border-style: #000;*/

    /*color: #00c*/
    empty-cells: show;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* complementa las navbar que vienen en bootstrap 
se agrega una navbar de otro color */
.navbar-tomato {
  background-color: #e38d8d;
  border-color: #080808;
}
.navbar-tomato .navbar-brand {
  color: AliceBlue;
}
.navbar-tomato .navbar-brand:hover,
.navbar-tomato .navbar-brand:focus {
  color: AliceBlue;
  background-color: transparent;
}
.navbar-tomato .navbar-text {
  color: AliceBlue;
}
.navbar-tomato .navbar-nav > li > a {
  color: AliceBlue;
}
.navbar-tomato .navbar-nav > li > a:hover,
.navbar-tomato .navbar-nav > li > a:focus {
  color: AliceBlue;
  background-color: transparent;
}
.navbar-tomato .navbar-nav > .active > a,
.navbar-tomato .navbar-nav > .active > a:hover,
.navbar-tomato .navbar-nav > .active > a:focus {
  color: AliceBlue;
  background-color: #080808;
}
.navbar-tomato .navbar-nav > .disabled > a,
.navbar-tomato .navbar-nav > .disabled > a:hover,
.navbar-tomato .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-tomato .navbar-nav > .open > a,
.navbar-tomato .navbar-nav > .open > a:hover,
.navbar-tomato .navbar-nav > .open > a:focus {
  color: AliceBlue;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-tomato .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-tomato .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-tomato .navbar-nav .open .dropdown-menu > li > a {
    color: AliceBlue;
  }
  .navbar-tomato .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-tomato .navbar-nav .open .dropdown-menu > li > a:focus {
    color: AliceBlue;
    background-color: transparent;
  }
  .navbar-tomato .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-tomato .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-tomato .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: AliceBlue;
    background-color: #080808;
  }
  .navbar-tomato .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-tomato .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-tomato .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-tomato .navbar-toggle {
  border-color: #333333;
}
.navbar-tomato .navbar-toggle:hover,
.navbar-tomato .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-tomato .navbar-toggle .icon-bar {
  background-color: AliceBlue;
}
.navbar-tomato .navbar-collapse,
.navbar-tomato .navbar-form {
  border-color: #101010;
}
.navbar-tomato .navbar-link {
  color: AliceBlue;
}
.navbar-tomato .navbar-link:hover {
  color: AliceBlue;
}
.navbar-tomato .btn-link {
  color: AliceBlue;
}
.navbar-tomato .btn-link:hover,
.navbar-tomato .btn-link:focus {
  color: AliceBlue;
}
.navbar-tomato .btn-link[disabled]:hover,
fieldset[disabled] .navbar-tomato .btn-link:hover,
.navbar-tomato .btn-link[disabled]:focus,
fieldset[disabled] .navbar-tomato .btn-link:focus {
  color: #444444;
}

/*

todo lo que esta a continuacion hay que contrastarlo contra bootstrap 



*/
.celdax{
    /* prueba de celda de grid */
    border: solid 1px;
    background-color: #DCE3E6;
    padding: 1rem;
    margin: 1rem;
}
/* se reemplaza por text-center de bootstrap */
/*.centrado{ 
    text-align: center;
}*/
.fondo_rojo{
    background-color: #FF1717;
}
.fondo_azul{
    background-color: #08C;
}
.fondo_verde{
    background-color: darkseagreen;
}
.fondo_gris{
    background-color: #cbd3da;
}
.resaltado{
    font-style: italic;
    font-weight: bolder;
}
.grande{
    font-size: 2rem;
}
.chica{
    font-size: .75rem;
}
.muychica{
    font-size: .5rem;
}
.mediana{
    font-size: 1.5rem;
}
.italico{
    /* también se usa <em> de bootstrap */
    font-style: italic;
}
.recuadrado{
    border: solid 1px;
}
/* posicionamisnteo */
.float_derecha {
    float: right;
    margin-left: 8px;
}
.float_izquierda {
    float: left;
    margin-right: 8px;
}	
.limpiar_float {
    clear:both;
}
