body, html {
    background-color: white;
    color:  red;
    font-size: 30px;
}
.caja {
    margin: 4px;
    border: solid 1px;
    border-color: green;
    /*width: 3rem;*/
    background-color: blue;
    color: white;
}
.container{
    background-color: white;
    border: solid 2px;
}
.centrado{
    text-align: center;
}
.fondo_rojo{
    background-color: #FF1717;
}
.fondo_azul{
    background-color: #08C;
}
.fondo_verde{
    background-color: darkseagreen;
}
.resaltado{
    font-style: italic;
    font-weight: bolder;
}
