body, html {
  color:  red;
  font-size: 30px;
}
.caja {
    margin: 4px;
    border: solid 1px;
    border-color: green;
    /*width: 3rem;*/
    background-color: blue;
    color: white;
}
.container{
    background-color: green;
    border: solid 2px;
}
