{% extends 'base.html.twig' %}

{% block contenedor_principal %}

<br />

<h1>Acerca de </h1>
<br />
<br />
<h2>{{ APP_NAME }}</h2>
<p>Versión: {{ VERSION }}</p>
<p> Desarrollado con:</p>
<p>Versión de Symfony: {{ VERSION_SYMFONY }}</p>
<p>********************* const.VERSION_APACHE  </p>
<p> const.VERSION_DOCTRINE  </p>
<p> const.VERSION_MYSQL  </p>
<p> const.VERSION_FIREFOX  </p>

    
{% endblock %}