{% extends 'base.html.twig' %}

{% block container_principal %}

    <div class="container">
        <br />

        <h1>Contacto</h1>

        <br />

        <p> const.DEPENDENCIA  </p>
        <p>Email: <a href=" 'mailto:' ~ 'const.EMAIL'  "> const.EMAIL  </a></p>
        <p>Sitio web: <a href="#"> const.SITIO_WEB  </a></p>

        <p > telefono['oficina'] ~ ': ' ~ telefono['te']  </p>
    </div>

{% endblock %}