{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Portada{% endblock %}

{% block container_principal %}

    <div class="row">
        <div class="col-sm-12"><h2>Portada</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3>Establecimientos</h3>
                <p>....</p>
            </div>
        </div>
        <div class="col-sm-6">
            <h3><a href="#">Carreras</a></h3>
            <p>...</p>
        </div>

    </div>

{% endblock %}