{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Portada{% endblock %}

{% block container_principal %}

    <div class="container text-center">
        <h2>Portada</h2>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench"></span>
                <h4>ESTABLECIMIENTOS</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate"></span>
                <h4>CARRERAS</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>ADMINISTRACION</h4>
            </div>
        </div>
    </div>


{% endblock %}