{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Portada{% endblock %}

{% block container_principal %}

    <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="well well-lg">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <h4><a href="{{ path('damero') }}">ESTABLECIMIENTOS</a></h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well well-lg">
                    <span class="glyphicon glyphicon-certificate"></span>
                    <h4>CARRERAS</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well well-lg">
                    <span class="glyphicon glyphicon-lock"></span>
                    <h4><a href="{{ path('backend') }}">ADMINISTRACION</a></h4>
                </div>
            </div>
        </div>
    </div>


{% endblock %}