{% extends 'base.html.twig' %}

{% block title %}New Aviso{% endblock %}

{% block body %}
    <h1>Create new Aviso</h1>

    {{ include('aviso/_form.html.twig') }}

    <a href="{{ path('aviso_index') }}">back to list</a>
{% endblock %}
