<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/prueba2.css') }}"   />
    </head>

    <body>     

        <div class="container">

            <div class="caja">
                esta es una caja
            </div>
        </div>

    </body>
</html>

