<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/prueba2.css') }}"   />
    </head>

    <body>     

        <div class="container">

            <div class="caja" style="width: 2.5rem;float: right;">
                1 esta es una caja uno
            </div>
            <div style="clear: both"></div>
            <div class="caja" style="width: 5rem; ">
                2 esta es una caja asdlkj ñkjasdfñkj 
            </div>
            <div class="caja" style="width: 4.5rem; float: right; ">
                3 sta es una caja adslkjasdfl ñlasdñ ñasd
            </div>
        </div>

    </body>
</html>

