<ul class="nav nav-pills">
    <li ><a href="#">Home</a></li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Establecimientos
            <span class="caret"></span>
            <ul class="dropdown-menu">
                <li><a href="#">Swing</a></li>
                <li><a href="#">jMeter</a></li>
            </ul>
        </a>
    </li>
    <li><a href="#">Carreras</a></li>
    <li><a href="#">Niveles</a></li>
</ul>